<div>
<img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/219/original/CT_LOGO_NEW.jpg" width=60>
</div>

#  **List Comprehensions**

*Be sure to be following along with the lesson page before progressing in this notebook!*

## **üõù¬†Practice Playground** - Section 1
Sometimes the best way to grasp list comprehensions is through a variety of examples that illustrate their efficiency and elegance. By examining different cases, you can see how list comprehensions streamline the code and often make it more readable compared to traditional for loops.

### **Example 1:** Creating a List of Squares

#### **Using a For Loop**

In [ ]:
# Run this cell!

squares = []
for i in range(10):
    squares.append(i * i)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### **Using a List Comp**

In [ ]:
# Run this cell!

squares = [i * i for i in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### **Example 2:** Creating a List of Squares

#### **Using a For Loop**

In [ ]:
# Run this cell!
evens = []
for i in range(10):
    if i % 2 == 0:
        evens.append(i)

evens

[0, 2, 4, 6, 8]

#### **Using a List Comp**

In [ ]:
# Run this cell!
evens = [i for i in range(10) if i % 2 == 0]

evens

[0, 2, 4, 6, 8]

### **Example 3:** Convert Temperatures

#### **Using a For Loop**

In [ ]:
# Run this cell!
celsius = [0, 10, 20, 34.5]
fahrenheit = []
for temp in celsius:
    fahrenheit.append((temp * 9/5) + 32)

fahrenheit

[32.0, 50.0, 68.0, 94.1]

#### **Using a List Comp**

In [ ]:
# Run this cell!
fahrenheit = [(temp * 9/5) + 32 for temp in celsius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

### **Example 4:** Concatenating Strings from a List

#### **Using a For Loop**

In [ ]:
# Run this cell!
words = ['Hello', 'world', 'from', 'Python']
sentence = ''
for word in words:
    sentence += word + ' '

sentence.strip()

'Hello world from Python'

#### **Using a List Comp**

In [ ]:
# Run this cell!
sentence = ' '.join([word for word in words])

sentence

'Hello world from Python'

### **Example 5:** Filtering and Transforming Data

#### **Using a For Loop**

In [ ]:
# Run this cell!
original_list = [1, -2, 3, -4, 5]
positive_doubled = []
for number in original_list:
    if number > 0:
        positive_doubled.append(number * 2)

positive_doubled

[2, 6, 10]

#### **Using a List Comp**

In [ ]:
# Run this cell!
positive_doubled = [number * 2 for number in original_list if number > 0]

positive_doubled

[2, 6, 10]

### **Example 6:** Fruits with the Letter "a" in the Name

#### **Using a For Loop**

In [ ]:
# Run this cell!

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = []

for x in fruits:
  if "a" in x:
    new_list.append(x)

new_list

['apple', 'banana', 'mango']

#### **Using a List Comp**

In [ ]:
# Run this cell!

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

new_list = [x for x in fruits if "a" in x]

new_list

['apple', 'banana', 'mango']

## **üõù¬†Practice Playground** - Section 2
Sometimes the best way to grasp list comprehensions is through a variety of examples that illustrate their efficiency and elegance. By examining different cases, you can see how list comprehensions streamline the code and often make it more readable compared to traditional for loops.

#### **Exercise 1**
What is the sum of the squares of the first 100 integers? That is, what is:

$$1^2 + 2^2 + 3^2 + \cdots + 100^2$$

_Hint:_ You can use the `sum()` function.

In [ ]:
# For Loop

squared_list = []

for num in range(1, 101):
  squared_list.append(num**2)

sum(squared_list)

338350

In [ ]:
# List Comp

sum([n**2 for n in range(1, 101)])

338350

#### **Exercise 2**
Given the list of survey responses, reduce this list to the capital(!) first letter of each so we can get uniform results.

In [ ]:
results = ['yes', 'no', 'Yeah', 'nope', 'Nah', 'YES!!!', 'Ya', 'No way!', 'no thank you']

In [ ]:
# For Loop

my_list = []

for result in results:
  my_list.append(result[0].upper())

my_list

['Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N']

In [ ]:
# List Comp

my_list = [res[0].upper() for res in results]
my_list

['Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N']

#### **Exercise 3**
Given the list of names, create a list of only their last names

In [ ]:
names = ['Tim Book', 'Ed Salinas', 'Hunter Wallen', 'Paul Stromberg', 'Steph Laraway']

In [ ]:
# For Loop

last_names = []

for name in names:
  last_names.append(name.split()[1])

last_names

['Book', 'Salinas', 'Wallen', 'Stromberg', 'Laraway']

In [ ]:
# List Comp

last_names = [name.split()[1] for name in names]
last_names

['Book', 'Salinas', 'Wallen', 'Stromberg', 'Laraway']

#### **Exercise 4**
Filter this list down to only even numbers.

In [ ]:
numbers = [1, 4, 7, 2, 8, 11, 20]

In [ ]:
# List Comp

evens_only = [i for i in numbers if i % 2 == 0]
evens_only

#### **Exercise 5**
Select only the months that end in y.

In [ ]:
months = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
]

In [ ]:
# List Comp

[month for month in months if month[-1] == 'y']

['January', 'February', 'May', 'July']

#### **Exercise 6**
Select only the months that **don't** end in y. Also, only show their 3-letter abbreviations (the first 3 letters of the month name).

That is, the first 3 elements of your answer should be: `Mar`, `Apr`, `Jun`.

In [ ]:
# List Comp

[month[:3] for month in months if month[-1] != 'y']

['Mar', 'Apr', 'Jun', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

## **üõù¬†Practice Playground** - Section 3
Dictionary comprehensions in Python are a concise way to create dictionaries. This technique is especially useful for transforming one dictionary into another by applying expressions to the keys and values of each item.

In [ ]:
# Run this cell!

names_to_ages = {'Alice': 32, 'Bob': 36, 'Charlie': 28}

In [ ]:
# Run this cell!

ages_to_names = {value: key for key, value in names_to_ages.items()}
ages_to_names

{32: 'Alice', 36: 'Bob', 28: 'Charlie'}

In [ ]:
# Run this cell!

employees = {'Alice': 'Engineer', 'Bob': 'Manager', 'Charlie': 'Clerk'}

In [ ]:
# Run this cell!

updated_employees = {key: value + " Staff" for key, value in employees.items()}
updated_employees

{'Alice': 'Engineer Staff', 'Bob': 'Manager Staff', 'Charlie': 'Clerk Staff'}