<div>
<img src="https://coursereport-s3-production.global.ssl.fastly.net/uploads/school/logo/219/original/CT_LOGO_NEW.jpg" width=60>
</div>

# **Python Ladder Challenges - List Comprehensions**

# Climb the Ladder!
Welcome to Part 6 of our ladder! Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IX: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, list comps are often the easiest way to solve a problem like this. List comps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

65) Create a list of the numbers 1 through 10.

In [ ]:
n = [i for i in range(10 + 1)]
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

66) Create a list of the squares of the numbers between 1 and 10.

In [ ]:
n = [i**2 for i in range(10 + 1)]
print(n)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

67) Create a list of all the even numbers between 18 and 47.

In [ ]:
even_numbers = [i for i in range(18, 47 + 1) if i % 2 == 0]
print(even_numbers)

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

68) Create a list of the squares of the even numbers between 1 and 20.

In [ ]:
even_numbers = [i**2 for i in range(1, 21) if i % 2 == 0]
print(even_numbers)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

69) What is the sum of the cubes of the numbers between 7 and 37?

In [ ]:
cubes = [i**3 for i in range(7, 38)]
print(sum(cubes))

493768

70) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [ ]:
numbers = [i for i in range(1, 31) if i % 3 == 0 or i % 5 == 0]
print(numbers)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30]

71) Redefine this list to be all uppercase.

In [ ]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']

In [ ]:
friends_upper = [friend.upper() for friend in friends]
print(friends_upper)

['ALICE', 'BOB', 'CHARLIE', 'DEREK']

72) Remove all elements from `friends` whose names do not end in a vowel.

In [ ]:
friend_vowels = [friend for friend in friends if friend[-1] in 'aeiou']
print(friend_vowels)

['Alice', 'Charlie']

73) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [ ]:
sentence = [friend for friend in friends if friend[-1] in 'aeiou']
sentence = ''.join(sentence)
print(sentence)

AliceCharlie

74) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [ ]:
list = [f'Jan {i}.xlsx' for i in range(1, 32)]
print(list)

['Jan 1.xlsx', 'Jan 2.xlsx', 'Jan 3.xlsx', 'Jan 4.xlsx', 'Jan 5.xlsx', 'Jan 6.xlsx', 'Jan 7.xlsx', 'Jan 8.xlsx', 'Jan 9.xlsx', 'Jan 10.xlsx', 'Jan 11.xlsx', 'Jan 12.xlsx', 'Jan 13.xlsx', 'Jan 14.xlsx', 'Jan 15.xlsx', 'Jan 16.xlsx', 'Jan 17.xlsx', 'Jan 18.xlsx', 'Jan 19.xlsx', 'Jan 20.xlsx', 'Jan 21.xlsx', 'Jan 22.xlsx', 'Jan 23.xlsx', 'Jan 24.xlsx', 'Jan 25.xlsx', 'Jan 26.xlsx', 'Jan 27.xlsx', 'Jan 28.xlsx', 'Jan 29.xlsx', 'Jan 30.xlsx', 'Jan 31.xlsx']

75) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. At the time of this writing, there are 1.1 dollars per euro.

In [ ]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [ ]:
dollars = [euro * 1.1 for euro in euros]
print(dollars)

[4.95, 7.370000000000001, 3.575, 10.989, 14.025, 0.385]

76) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [ ]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [ ]:
ride = [height for height in heights if height >= 60]
print(ride)

[71, 65, 68, 60]

77) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [ ]:
coaster = [height if height >= 60 else None for height in heights]
print(coaster)

[71, None, None, 65, 68, 60, None, None]

78) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [ ]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [ ]:
tall_enough = {name: height for name, height in people.items() if height >= 60}
print(tall_enough)

{'Barbara': 66, 'Clarence': 62, 'Erika': 70, 'Fernando': 72}

79) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [ ]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [ ]:
final_grade = [max(scores) for scores in people.values()]
print(final_grade)

[87, 92, 68, 100, 88, 99]

80) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem!

In [ ]:
final_grade = {name: max(scores) for name, scores in people.items()}
print(final_grade)

{'Aaron': 87, 'Barbara': 92, 'Clarence': 68, 'Donovan': 100, 'Erika': 88, 'Fernando': 99}

81) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [ ]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']

In [ ]:
letters = [a + z for a, z in zip(letters_a, letters_z)]
print(letters)

['AZ', 'BY', 'CX', 'DW', 'EV']

82) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [ ]:
letters_new_a = [f'{letter} is letter {index + 1} of the alphabet' for index, letter in enumerate(letters_a)]
print(letters_new_a)

['A is letter 1 of the alphabet', 'B is letter 2 of the alphabet', 'C is letter 3 of the alphabet', 'D is letter 4 of the alphabet', 'E is letter 5 of the alphabet']